.login {
  display: flex;
  flex-direction: column;
  background-color: #161d2f;
  width: 400px;
  height: 373px;
  font-family: "Outfit", sans-serif;
  border-radius: 15px;
  align-self: center;
  gap: 10px;
}
.h1_Login {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  margin-bottom: 30px;
  margin-left: 25px;
}
.mailInput {
  background-color: #161d2f;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 2px;
  border-bottom-color: #5a698f;
  width: 336px;
  height: 37px;
  align-self: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
}
.passwordInput {
  background-color: #161d2f;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 2px;
  border-bottom-color: #5a698f;
  width: 336px;
  height: 37px;
  align-self: center;
  margin-bottom: 25px;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
}
.mailInput::placeholder {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
}
.passwordInput::placeholder {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
}
.btnLogin {
  background-color: #fc4747;
  width: 336px;
  height: 48px;
  border-radius: 5px;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  align-self: center;
  border-width: 0;
  cursor: pointer;
}
.sign {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  align-self: center;
  color: #ffffff;
}
.signSpan {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  color: #fc4747;
  cursor: pointer;
}
.registerLink {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  color: #fc4747;
  cursor: pointer;
}
.noAccount {
  align-self: center;
}
.mainLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
}
.mailInput:focus {
  outline: none;
}
.passwordInput:focus {
  outline: none;
}
.mailInput::placeholder {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
}
form {
  display: flex;
  flex-direction: column;
}
