.reset{
    display: flex;
    flex-direction: column;
    background-color: #161d2f;
    width: 400px;
    height: 373px;
    font-family: "Outfit", sans-serif;
    border-radius: 15px;
    align-self: center;
    gap: 20px;
    padding-bottom: 0px;
}
.ResetSuccessMessage{
    text-align: center;
    color: whitesmoke;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #161d2f;
    border-radius: 10px;
    border: 1px solid #28a745;
}
.signFromReset {
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    align-self: center;
    color: #ffffff;
}
.resetBtnLogin {
    background-color: #fc4747;
    width: 336px;
    height: 48px;
    border-radius: 5px;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    align-self: center;
    border-width: 0;
    cursor: pointer;
}
.resetSuccessBtnLogin{
    display: none;
}
.resetMailInput {
    background-color: #161d2f;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #5a698f;
    width: 336px;
    height: 37px;
    align-self: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
}
.successResetMailInput {
    cursor: not-allowed;
    background-color: #161d2f;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #5a698f;
    width: 336px;
    height: 37px;
    align-self: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
}