.h2Trending{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
    margin-left: 7px;
    margin-bottom: 10px;
}
.trending{
    display: flex;
    flex-direction: column;
    padding-left: 20px;

}
.trendCards {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap; /* Empêche les éléments de passer à la ligne */
    gap: 10px; /* Ajoute un espace entre les éléments */
    padding: 10px;
    scroll-behavior: smooth; /* Permet un défilement fluide */
}
.trendCards .card {
    flex-shrink: 0; /* Empêche les éléments de se réduire en taille */
}
@media screen and (min-width: 1200px){
    .h2Trending{
        font-size: 32px;
        margin-left: 7px;
        margin-bottom: 10px;
    }
}